#Ignore base project excess files
*.pdb
*.dev.json

.vscode/*

BuddyCloudCoreApi2/bin/*
BuddyCloudCoreApi2/obj/*
BuddyCloudCoreApi2/BuddyCloudCoreApi2.csproj.user
BuddyCloudCoreApi2/ScaffoldingReadMe.txt

.vs/*

BuddyCloudCoreApi2.UnitTest/bin/*
BuddyCloudCoreApi2.UnitTest/obj/*

BuddyCloudCoreApi21.Core/bin/*
BuddyCloudCoreApi21.Core/obj/*

BuddyCloudCoreApi21.BusinessModels/bin/*
BuddyCloudCoreApi21.BusinessModels/obj/*

BuddyCloudCoreApi21.DAL/bin/*
BuddyCloudCoreApi21.DAL/obj/*

BuddyCloudCoreApi21.Services/bin/*
BuddyCloudCoreApi21.Services/obj/*